*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.App{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: rgb(77, 77, 161);
}
.movies{
    display: flex;
    flex-wrap: wrap;
}
.action_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}
.title{
    padding-right: 3rem;
}
.title h1{
    color: white;
}
.input_group_container{
    width: 60%;
}
.App_footer{
    display: flex;
    justify-content: center;
    text-align: center;
}
.info {
    display: flex;
    flex-direction: column;
    background-color: #5858b9;
}
.details{
    display: flex;
    flex-direction: column;
    background-color: rgb(77, 77, 161);
}

